*{
    -fx-padding: 0;
    -fx-font-family: 'Ebrima', sans-serif;
    -fx-margin: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

#mainContainer{

    -fx-border-width: 1px;
    -fx-border-height: 1px;
    -fx-border-color: #000;

    -fx-background-insets: 0;
    -fx-background-color: #222;
    -fx-padding: 12px;
}
#headerVbox{
    -fx-min-width: 380px;
    -fx-pref-width: 380px;
    -fx-max-width: 380px;

    -fx-min-height: 48px;
    -fx-pref-height: 48px;
    -fx-max-height: 48px;

}
#headerSeparator, #headerSeparator .line{
    -fx-min-height: 1px;
    -fx-pref-height: 1px;
    -fx-max-height: 1px;
    -fx-border-color: black;
    -fx-background-color: black;
    -fx-border-height: 0;
    -fx-border-width: 0;
}
#headerLabel{
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}
    .txtField{

        -fx-background-radius: 10;
        -fx-border-radius: 10;
        -fx-pref-width: 330px;
        -fx-background-color: #111;
        -fx-border-color: #000;
        -fx-min-width: 330px;
        -fx-max-width: 330px;
        -fx-min-height: 36px;
        -fx-max-height: 36px;
        -fx-pref-height: 36px;
        -fx-prompt-text-fill: rgba(221, 221, 221, 0.8);
        -fx-text-fill: rgba(221, 221, 221);
        -fx-font-size: 14px;
        -fx-padding: 7px;
    }

    #hboxtxtField{
        -fx-pref-width: 160px;
        -fx-min-width: 160px;
        -fx-max-width: 160px;
    }
    #obstxtField{
     -fx-pref-height: 60px;
     -fx-min-height: 60px;
     -fx-max-height: 60px;
     }
     #obstxtField .content{
     -fx-background-color: #111;
     -fx-padding: 0;
     -fx-margin: 0;
     -fx-border-width: 0;
     -fx-border-height: 0;
     -fx-border-insets: 0 0 0 0;
     -fx-background-insets: 0 0 0 0;
     -fx-border-radius: 0px;
     -fx-background-radius: 0px;
     -fx-max-height: 46px;
     -fx-pref-height: 46px;
     -fx-min-height: 46px;

     -fx-min-width: 316px;
     -fx-pref-width: 316px;
     -fx-max-width: 316px;

     }

#Button, #Button:focused, #Button:selected, #Button:pressed, #Button:active{
    /* TAMANHO DO BOTÃO */

    -fx-min-width: 145px;
    -fx-max-width: 145px;
    -fx-pref-width: 145px;

    -fx-min-height: 35px;
    -fx-max-height: 35px;
    -fx-pref-height: 35px;

    -fx-padding: 0;

    /* FORMATO E COR */
    -fx-border-radius: 14px;
    -fx-border-width: 2px;
    -fx-border-height: 2px;
    -fx-background-radius: 14px;
    -fx-border-insets: 0 0 0 0;
    -fx-background-insets: 0 0 0 0;
    -fx-background-color: linear-gradient(to right, #271C3F, #327E7E);
    -fx-border-color: #222;
    -fx-opacity: 1;

    /* FONTE DO BOTÃO */
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 10, 0, 0, 0);
}

