*{
     -fx-padding: 0;
     -fx-font-family: 'Ebrima', sans-serif;
     -fx-margin: 0;
}
#maindashContainer{
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-border-color: rgba(0, 0, 0, 0.3);
    -fx-border-width: 1;
    -fx-border-height: 1;
    -fx-border-style: solid;
}
#hbarContainer{
    -fx-pref-width: 1152;
    -fx-max-width: 1152;
    -fx-min-width: 1152;
    -fx-background-color: rgba(0, 0, 0, 0.3);

    -fx-min-height: 62;
    -fx-pref-height: 62;
    -fx-max-height: 62;

    -fx-padding: 12 12 12 12;
}

#hbarContainer TextField {
        -fx-min-width: 518px;
        -fx-max-width: 518px;
        -fx-pref-width: 518px;
        -fx-min-height: 40px;
        -fx-max-height: 40px;
        -fx-pref-height: 40px;
        -fx-background-color: #222;
        -fx-font-size: 14px;
        -fx-padding: 0 12;
        -fx-border-radius: 6;
        -fx-background-radius: 6;
}
#hbarContainer TextField:focused{
        -fx-background-color: #292929;
        -fx-border-color: rgba(0, 0, 0, 0.8);
        -fx-border-radius: 6;
        -fx-background-radius: 6;
        -fx-text-fill: #fff;
}
#hbarContainer .Separator{
    -fx-border-color: #111;
}
#btAddDriver{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-graphic: url(../Images/addDriverImg.png);
    -fx-content-display: graphic-only;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;

    -fx-pref-width: 50px;
    -fx-min-width: 50px;
    -fx-max-width: 50px;
    -fx-pref-height: 40px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
}
#btAddDriver:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
    -fx-border-color: rgba(255, 255, 255, 0);
    -fx-border-width: 1;
    -fx-border-height: 1;
}

#hboxdashboard{

    -fx-padding: 16px;
    -fx-pref-width: 1152;
    -fx-max-width: 1152;
    -fx-min-width: 1152;
    -fx-min-height: 607;
    -fx-pref-height: 607;
    -fx-max-height: 607;
}