#loginContainer{
    -fx-min-width: 485px;
    -fx-max-width: 485px;
    -fx-pref-width: 485px;

    -fx-min-height: 680px;
    -fx-pref-height: 680px;
    -fx-max-height: 680px;

    -fx-background-color: #bbb;
    -fx-background-image: url(../Images/line-two.png);

}

#loginVBoxContainer{
    -fx-min-width: 485px;
    -fx-max-width: 485px;
    -fx-pref-width: 485px;

    -fx-min-height: 680px;
    -fx-pref-height: 680px;
    -fx-max-height: 680px;

    -fx-background-color: transparent;
    -fx-padding: 90 80 80 80;
}

#loginVBoxContainer TextField,
#loginVBoxContainer PasswordField {
        -fx-min-width: 318px;
        -fx-max-width: 318px;
        -fx-pref-width: 318px;
        -fx-min-height: 35px;
        -fx-max-height: 35px;
        -fx-pref-height: 35px;
        -fx-padding: 5px;
        -fx-border-radius: 10;
        -fx-background-radius: 10;
}
#loginVBoxContainer TextField:focused,
#loginVBoxContainer PasswordField:focused{
        -fx-background-color: rgba(255, 255, 255, 0.8);
        -fx-border-color: rgba(0, 0, 0, 0.8);
        -fx-border-radius: 10;
        -fx-background-radius: 10;
        -fx-text-fill: #000;
}

#loginVBoxContainer Label {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: #111;
}


