*{
     -fx-padding: 0;
     -fx-font-family: 'Ebrima', sans-serif;
     -fx-margin: 0;
}
#mainContainer{
    -fx-min-height: 680px;
    -fx-pref-height: 680px;
    -fx-max-height: 680px;

    -fx-min-width: 1152px;
    -fx-pref-width: 1152px;
    -fx-max-width: 1152px;

    -fx-background-image: url(../Images/line.png);
    -fx-background-color: #111;
}

Button:hover{
    -fx-opacity: 1;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

#loginBack {
-fx-text-fill: #000;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0.8;
    -fx-font-size: 14px;
    }