#mainContainer{
        /* TAMANHO DA GUIA */
        -fx-min-width: 485px;
        -fx-max-width: 485px;
        -fx-pref-width: 485px;
        -fx-min-height: 680px;
        -fx-max-height: 680px;
        -fx-pref-height: 680px;
        -fx-background-color: #bbb;
}
#bgContainer{
        -fx-min-width: 485px;
        -fx-max-width: 485px;
        -fx-pref-width: 485px;
        -fx-min-height: 680px;
        -fx-max-height: 680px;
        -fx-pref-height: 680px;
        -fx-background-image: url(../img/line-two.png);
        -fx-opacity: 0.3;
}

#imgIconApp{
    -fx-image: url(../img/barkinsheetlogo.png);
}

.txtField{
    -fx-min-width: 318px;
    -fx-max-width: 318px;
    -fx-pref-width: 318px;
    -fx-min-height: 35px;
    -fx-max-height: 35px;
    -fx-pref-height: 35px;
    -fx-padding: 5px;
}

.loginButton {
    -fx-min-width: 118px;
    -fx-max-width: 118px;
    -fx-pref-width: 118px;
    -fx-min-height: 35px;
    -fx-max-height: 35px;
    -fx-pref-height: 35px;

    -fx-content-display: graphic-only;

    -fx-background-color: transparent;
}

#footerHelper Button {
    -fx-background-color: transparent;
    -fx-padding: 4px;

}

#imgFooter{
    -fx-min-width: 228px;
    -fx-max-width: 228px;
    -fx-pref-width: 228px;
    -fx-min-height: 100px;
    -fx-max-height: 100px;
    -fx-pref-height: 100px;
}

#footerHelper{
    -fx-font-size: 14px;
    -fx-text-fill: #000;

    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-min-width: 200px;

    -fx-pref-height: 25px;
    -fx-max-height: 25px;
    -fx-min-height: 25px;

    -fx-opacity: 0.8;

}
#EsqueceuSenha:hover {
    -fx-text-fill: #000;
    -fx-font-weight: bold;
    -fx-opacity: 1;
}

#SignUpButton{
    /* TAMANHO DO BOTÃO */

    -fx-min-width: 145px;
    -fx-max-width: 145px;
    -fx-pref-width: 145px;

    -fx-min-height: 35px;
    -fx-max-height: 35px;
    -fx-pref-height: 35px;

    -fx-padding: 0;

    /* FORMATO E COR */
    -fx-border-radius: 14;
    -fx-background-radius: 14;
    -fx-background-color: linear-gradient(to right, #271C3F, #327E7E);
    -fx-border-color: #222;
    -fx-opacity: 1;

    /* FONTE DO BOTÃO */
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    }

    #Header {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: #111;
    }

    .loginField{
        -fx-background-radius: 10;
        -fx-pref-width: 330px;
        -fx-min-width: 330px;
        -fx-max-width: 330px;
        -fx-min-height: 40px;
        -fx-max-height: 40px;
        -fx-pref-height: 40px;
        -fx-prompt-text-fill: rgba(1, 1, 1, 0.8);
        -fx-font-size: 14px;
        -fx-padding: 12;
    }
    .loginField:focused{
        -fx-background-color: rgba(255, 255, 255, 0.8);
        -fx-border-radius: 10;
        -fx-border-color: rgba(0, 0, 0, 0.8);
    }