*{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-margin: 0;
    -fx-padding: 0;
}

        .tab-header-background{
        -fx-background-color: #151515;
        -fx-border-color: transparent;
        -fx-padding: 0;
        -fx-margin: 2;
    }

    #menuTab{
        -fx-min-height: 680px;
        -fx-min-width: 1152px;
        -fx-max-height: 680;
        -fx-max-width: 1152px;
        -fx-pref-height: 680;
        -fx-pref-width: 1152px;
        -fx-tab-min-height: 70px;
        -fx-tab-max-height: 70px;
        -fx-tab-max-width: 88px;
        -fx-tab-min-width: 88px;
        -fx-padding: 0px;
        -fx-margin: 0px 0px;
    }

#menuTab .tab:selected,
#menuTab .tab:focused:selected {
    -fx-background-color: #1E1E1E;
    -fx-border-color: transparent transparent transparent transparent;
    -fx-border-width: 0 0 0 0; /* Set border-width to 0 */
}
    #menuTab .tab-label{
        -fx-text-fill: #327E7E;
        -fx-alignment: CENTER;    
        -fx-content-display: graphic-only;
        -fx-background-size: contain;
        -fx-background-repeat: no-repeat;

    }
    .tab-pane{
        -fx-background-color: transparent;
        -fx-border-radius: 0;
        -fx-background-radius: 0;

    }
    .tab{
        -fx-background-color: transparent;
    }

#homeTab .tab-label{
    -fx-graphic: url("../img/houseImg.png");
}
#searchTab .tab-label{
    -fx-graphic: url("../img/searchImg.png");
}
#secTab .tab-label{
    -fx-graphic: url("../img/secImg.png");
}