#bottommenuTab{
    -fx-min-height: 640px;
    -fx-min-width: 1152px;
    -fx-max-height: 640px;
    -fx-pref-height: 640px;
    -fx-pref-width: 1152px;
    -fx-max-width: 1152px;
    -fx-tab-min-height: 33px;
    -fx-tab-max-height: 33px;
    -fx-tab-max-width: 250px;
    -fx-tab-min-width: 250px;
    -fx-padding: 0px;
    -fx-margin: 0px 0px;
}

#bottommenuTab .tab-header-background{
    -fx-background-color: rgba(11, 11, 11, 0.8) ;
}

#bottommenuTab .tab-label {
    -fx-text-fill: #fff;
    -fx-content-display: text-only;
    -fx-alignment: center;
    -fx-font-size: 16px;
    -fx-text-transform: uppercase;
    -fx-padding: 0;
}

#bottommenuTab:selected .tab:focused,
#bottommenuTab .tab:selected {
    -fx-border-color: transparent, transparent, #FD6E61, transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-type: solid;
}
