*{
    -fx-padding: 0;
    -fx-font-family: 'Ebrima', sans-serif;

}
#background{
    /* TAMANHO DA TELA */
    -fx-min-width: 1152px;
    -fx-max-width: 1152px;
    -fx-pref-width: 1152px;
    -fx-min-height: 680px;
    -fx-max-height: 680px;
    -fx-pref-height: 680px;

    -fx-background-color: #111;

}

#ToolBar{
        -fx-max-width: 120px;
        -fx-min-width: 120px;
        -fx-pref-width: 120px;

        -fx-max-height: 30px;
        -fx-min-height: 30px;
        -fx-pref-height: 30px;
        -fx-background-color: transparent;
}
.btToolBar{
    /* TAMANHO DO BOTÃO */
    -fx-max-width: 30px;
    -fx-min-width: 30px;
    -fx-pref-width: 30px;

    -fx-max-height: 30px;
    -fx-min-height: 30px;
    -fx-pref-height: 30px;

    /* APENAS IMAGENS */
    -fx-background-color: transparent;
    -fx-content-display: graphic-only;
}

#exitButton{
    -fx-graphic: url(../img/exitImg.png);
}
#minimizeButton{
    -fx-graphic: url(../img/minImg.png);
}
#helpButton{
    -fx-graphic: url(../img/helpImg.png);
}
#confButton{
    -fx-graphic: url(../img/confImg.png);
}